{{!-- job search field --}}
<div class="jobSearch">
  {{#if messages.info}}
  <div class="alert alert-success">{{messages.info}}</div>
  {{/if}}
  <div class="field is-grouped searchInput">
    <p class="control is-expanded">
      <input class="input is-normal " type="text" placeholder="Find a job">
    </p>
    <p class="control">
      <a class="button is-info">
        Search
      </a>
    </p>
  </div>

  {{!-- display searched jobs --}}

  {{#each plainJobPostings as |job| }}
  <div class="box has-background-white has-text-centered has-text-black jobs-box">
    <h1>{{this.job_title}}</h1>
    <h2>Company: {{this.company.company_name}}</h2>
    <p>Email: {{this.company.company_email}}</p>
    <p>Salary: ${{this.salary}}</p>
    <p>{{this.job_description}}</p>
  </div>
  {{/each}}
</div>
</div>