<div class="box has-text-centered job-listing">
    <div class="overlay">
        <h1 class="has-text-weight-bold is-size-2 has-text-white">Job Listings</h1>
        <h3 class="has-text-weight-medium has-text-white">Find your dream jobs in our
            Bootcamp Work Finder website</h3>
    </div>

</div>


{{#if logged_in}}

<div class="columns is-centered is-multiline">
    {{#each plainJobPostings as |job| }}
    <div class="column is-one-quarter mx-5 my-5">

        <div class="card">

            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{this.job_title}}</p>
                        <hr>
                        <p class="subtitle is-4">Company: {{this.company.company_name}}</p>
                    </div>
                </div>

                <div class="content">

                    <p>Salary: ${{this.salary}}</p>
                    <p>{{this.job_description}}</p>
                    <p class="is-underlined is-size-5">Job Requirements</p>
                    <p class="has-text-weight-bold is-size-6 tags">{{this.skill_tags}}</p>
                    <a href="mailto: {{this.company.company_email}}"><button class="button is-info">
                            Apply Now
                        </button></a>


                </div>

            </div>
        </div>

    </div>
    {{/each}}

    {{else}}

    <div class="columns is-centered is-multiline">
        {{#each plainJobPostings as |job| }}
        <div class="column is-one-quarter mx-5 my-5">

            <div class="card">

                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{this.job_title}}</p>
                            <hr>
                            <p class="subtitle is-4">Company: {{this.company.company_name}}</p>
                        </div>
                    </div>



                </div>
            </div>

        </div>
        {{/each}}
        {{/if}}
        {{!-- <div class="column">
            {{#each plainJobPostings as |job| }}
            <div class="box has-background-white has-text-centered has-text-black jobs-box">
                <h1>{{this.job_title}}</h1>
                <h2>Company: {{this.company.company_name}}</h2>
                <p>Email: {{this.company.company_email}}</p>
                <p>Salary: ${{this.salary}}</p>
                <p>{{this.job_description}}</p>
            </div>
            {{/each}} --}}