    <div class="column">
        {{#each plainJobPostings as |job| }}
        <div class="box has-background-white has-text-centered has-text-black jobs-box">
    <h1>{{this.job_title}}</h1>
    <h2>{{this.company.company_name}}</h2>
    <p>{{this.company.company_email}}</p>
    <p>${{this.salary}}</p>
    <p>{{this.job_description}}</p>
</div>
        {{/each}}
{{!-- hard coded data..will be replace with db data --}}
{{!--
<div class="box has-background-white has-text-centered has-text-black jobs-box">
    <h1>Full-Stack Developer</h1>
    <h2>UNB</h2>
    <p>UNB@gmail.com</p>
    <p>$5000</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore doloremque nobis minima assumenda
        aut
        autem expedita quidem? Provident, dolorum. Maxime voluptatem illum laboriosam et, reiciendis asperiores?
        Mollitia corporis at nulla.</p>
</div>
<div class="box has-background-white has-text-centered has-text-black jobs-box">
    <h1>Full-Stack Developer</h1>
    <h2>UNB</h2>
    <p>UNB@gmail.com</p>
    <p>$5000</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore doloremque nobis minima assumenda aut
        autem expedita quidem? Provident, dolorum. Maxime voluptatem illum laboriosam et, reiciendis asperiores?
        Mollitia corporis at nulla.</p>
</div>
<div class="box has-background-white has-text-centered has-text-black jobs-box">
    <h1>Full-Stack Developer</h1>
    <h2>UNB</h2>
    <p>UNB@gmail.com</p>
    <p>$5000</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore doloremque nobis minima assumenda aut
        autem expedita quidem? Provident, dolorum. Maxime voluptatem illum laboriosam et, reiciendis asperiores?
        Mollitia corporis at nulla.</p>
</div>
<div class="box has-background-white has-text-centered has-text-black jobs-box">
    <h1>Full-Stack Developer</h1>
    <h2>UNB</h2>
    <p>UNB@gmail.com</p>
    <p>$5000</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore doloremque nobis minima assumenda aut
        autem expedita quidem? Provident, dolorum. Maxime voluptatem illum laboriosam et, reiciendis asperiores?
        Mollitia corporis at nulla.</p> --}}
   