    <div class="row">

    
    <div class="column">
    <div class="box has-background-white has-text-centered has-text-black jobs-box">
    <h1>USER: {{userData2Plain.user_firstName}} {{userData2Plain.user_lastName}}</h1>
    <p>Email: {{userData2Plain.user_email}}</p> 
    
     {{#each userDataPlain as |uTag|}}
    <button>Skill: {{uTag.tag_name}}</button>
    {{/each}}

</div>
</div>
       

    <div class="column">
        {{#each tagDataPlain as |tags| }}
    <button>{{this.tag_name}}</button>
    </div>
    </div>
        {{/each}}
    </div> 